.blue-1{ color: #091952; }
.blue-2{ color: #2947AD; }
.blue-3{ color: #5A7EE0; }
.blue-4{ color: #82A9F2; }
.grey-1{ color: #F3F3F3; }
.grey-2{ color: #BFBFBF; }
.grey-3{ color: #8C8C8C; }
.grey-4{ color: #404040; }
.grey-5{ color: #0D0D0D; }