.fs-8{ font-size: 8px;font: Georgia, Serif; }
.fs-10{ font-size: 10px;font: Georgia, Serif; }
.fs-12{ font-size: 12px;font: Georgia, Serif; }
.fs-14{ font-size: 14px;font: Georgia, Serif;  }
.fs-16{ font-size: 16px;font: Georgia, Serif;  }
.fs-18{ font-size: 18px;font: Georgia, Serif;  }
.fs-20{ font-size: 20px;font: Georgia, Serif;  }
.fs-22{ font-size: 22px;font: Georgia, Serif;  }
.fs-24{ font-size: 24px;font: Georgia, Serif;  }
.fs-26{ font-size: 26px;font: Georgia, Serif;  }
.fs-28{ font-size: 28px;font: Georgia, Serif;  }
.fs-30{ font-size: 30px;font: Georgia, Serif;  }
.fs-32{ font-size: 32px;font: Georgia, Serif;  }
.fs-34{ font-size: 34px;font: Georgia, Serif;  }
.fs-36{ font-size: 36px;font: Georgia, Serif;  }
.fs-38{ font-size: 38px;font: Georgia, Serif;  }

.textTitle {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font: italic bold 3vw Georgia, Serif;
    text-shadow: -4px 3px 0 #083ac2, -14px 7px 0 #0a0e27;
  }