@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Crete+Round&family=Roboto&display=swap');

.opensans--light{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.opensans--regular{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.opensans--bold{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.italic{
  font-style: italic;
  font-weight: 200;
}
.comforta{
  font-family:'Comfortaa', sans-serif;
  font-weight: 400;
}

.fs-8{ font-size: 8x; }
.fs-10{ font-size: 10px; }
.fs-12{ font-size: 12px; }
.fs-14{ font-size: 14px; }
.fs-16{ font-size: 16px; }
.fs-18{ font-size: 18px; }
.fs-20{ font-size: 20px; }
.fs-22{ font-size: 22px; }
.fs-24{ font-size: 24px; }
.fs-26{ font-size: 26px; }
.fs-28{ font-size: 28px; }
.fs-30{ font-size: 30px; }
.fs-32{ font-size: 32px; }
.fs-34{ font-size: 34px; }
.fs-36{ font-size: 36px; }
.fs-38{ font-size: 38px; }
.fs-40{ font-size: 40px; }
.fs-42{ font-size: 42px; }
.fs-44{ font-size: 44px; }
.fs-46{ font-size: 46px; }
.fs-48{ font-size: 48px; }
.fs-50{ font-size: 50px; }
.fs-60{ font-size: 60px; }
.fs-70{ font-size: 70px; }
.fs-80{ font-size: 80px; }
.fs-90{ font-size: 90px; }
.fs-100{ font-size: 100px; }
.fs-110{ font-size: 110px; }
.fs-120{ font-size: 120px; }
.fs-130{ font-size: 130px; }
.fs-140{ font-size: 140px; }
.fs-150{ font-size: 150px; }