@import '../tipografias.css';

 *{
      margin: 0;
    }
  .fundador{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
  .seccionprincipal{
      background: url(../../images/photos/fondo.png) 40% no-repeat;
      background-size: contain;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: space-around;
  }
 .seccionprincipal .Texto{
      height: 100%;
      width: 70%;
      margin: 0 auto;
      align-self: center;
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
}
  .seccionimg{
      height: 500px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
  }
  @media (min-width: 768px){
    .flex-md-row {
        flex-direction: row!important;
        }
    .seccion-sm{ 
        width: 70%;  
        }
    .seccionimg{
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        }
    .fundador{
        height: 650px;
        }
    .seccionprincipal{
        height: 530px;
        }
    .seccionprincipal .Texto{
        height:350px;
        }
}